<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<!--{% extends 'adminindex.html' %}-->
<!--{% block body %}-->
<body>
<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-hover">
    <tr>
      <td>COLLEGE NAME</td>
      <td>PLACE</td>
      <td>ADDRESS</td>
      <td>PHONE</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{i['college_name']}}</td>
      <td>{{i['place']}}</td>
      <td>{{i['address']}}</td>
      <td>{{i['phone']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
<p>&nbsp;</p>
</body>
<!--</html>-->
<!--{% endblock %}-->