
{% extends 'adminindex.html' %}
{% block body %}

<body>
<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="addschedhule#about">
  <table class="table table-hover">
    <tr>
      <td width="85">EXAMDATE</td>
      <td width="82">EXAMTIME</td>
      <td width="65">SUBJECT</td>
      <td width="95">&nbsp;</td>
    </tr>
    {% for i in data %}
  <tr>
    <td>{{i['examdate']}}</td>
    <td>&nbsp;{{i['examtime']}}</td>
    <td>&nbsp;{{i['subjectname']}}</td>
    <td><p><a href="editschedhule?id={{i['examscheduleid']}}#about">Edit </a></p>
        <p><a href="/deleteexamschedule?id={{i['examscheduleid']}}">Delete</a></p>
        <p><a href="/addqp?id={{i['examscheduleid']}}">ADD QP</a></p>

    </td>
  </tr>
    {% endfor %}
  <tr>
    <td colspan="4"><div align="center">
      <input type="submit" name="Submit" value="add" />
    </div></td>
    </tr>
  </table>
</form>
</body>

{% endblock %}