<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--{% extends 'adminindex.html' %}-->
<!--{% block body %}-->
<body>
<p>&nbsp;</p>
<form action="/add_qp" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <p>&nbsp;</p>
  <table id="customers">
    <!--<tr>-->
      <!--<td width="200">EXAM</td>-->
      <!--<td width="198"><select name="select">-->

        <!--{% for i in data %}-->
        <!--<option value="{{i[0]}}">{{i[1]}} {{i[4]}}</option>-->
        <!--{% endfor %}-->
      <!--</select>-->
      <!--</td>-->
    <!--</tr>-->
    <tr>
      <td>QUESTION PAPER </td>
      <td><input type="file" name="file" /></td>
    </tr>
    <tr>
      <td><input type="submit" name="Submit" value="Upload" /></td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
<p>&nbsp;</p>
</body>
<!--</html>-->
<!--{% endblock %}-->